<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net462" />
  <package id="DynamicData" version="6.13.21" targetFramework="net462" />
  <package id="EMGU.CV" version="4.1.1.3497" targetFramework="net462" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net462" />
  <package id="Humanizer.Core" version="2.6.2" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net462" />
  <package id="morelinq" version="3.3.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Ninject" version="3.3.4" targetFramework="net462" />
  <package id="Ninject.Extensions.Conventions" version="3.3.0" targetFramework="net462" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net462" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net462" />
  <package id="Prism.Ninject" version="7.2.0.1367" targetFramework="net462" />
  <package id="Prism.Wpf" version="7.2.0.1367" targetFramework="net462" />
  <package id="pythonnet_py38_win" version="2.5.1" targetFramework="net462" />
  <package id="ReactiveUI" version="10.5.31" targetFramework="net462" />
  <package id="ReactiveUI.WPF" version="10.5.31" targetFramework="net462" />
  <package id="Splat" version="9.2.5" targetFramework="net462" />
  <package id="Splat.Drawing" version="9.2.5" targetFramework="net462" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.2.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WpfScreenHelper" version="0.4.0" targetFramework="net462" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net462" />
</packages>