<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net462" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net462" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net462" />
  <package id="DynamicData" version="6.13.21" targetFramework="net462" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net462" />
  <package id="EntityFramework6.Npgsql" version="3.2.0" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net462" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net462" />
  <package id="Microsoft.SDK.Expression.Blend" version="1.0.0" targetFramework="net462" />
  <package id="morelinq" version="3.3.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net462" />
  <package id="Ninject" version="3.3.4" targetFramework="net462" />
  <package id="Ninject.Extensions.Conventions" version="3.3.0" targetFramework="net462" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net462" />
  <package id="Npgsql" version="4.0.4" targetFramework="net462" />
  <package id="Npgsql.Json.NET" version="4.0.4" targetFramework="net462" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net462" />
  <package id="Prism.Ninject" version="7.2.0.1367" targetFramework="net462" />
  <package id="Prism.Wpf" version="7.2.0.1367" targetFramework="net462" />
  <package id="ReactiveUI" version="10.5.31" targetFramework="net462" />
  <package id="ReactiveUI.WPF" version="10.5.31" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
  <package id="Splat" version="9.2.5" targetFramework="net462" />
  <package id="Splat.Drawing" version="9.2.5" targetFramework="net462" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.14" targetFramework="net462" />
  <package id="SQLitePCLRaw.core" version="1.1.14" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.14" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.14" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.14" targetFramework="net462" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.14" targetFramework="net462" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.2.0" targetFramework="net462" />
  <package id="System.Reactive.Compatibility" version="4.1.2" targetFramework="net462" />
  <package id="System.Reactive.Core" version="4.1.2" targetFramework="net462" />
  <package id="System.Reactive.Experimental" version="4.2.0" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="4.2.0" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="4.1.2" targetFramework="net462" />
  <package id="System.Reactive.PlatformServices" version="4.1.2" targetFramework="net462" />
  <package id="System.Reactive.Providers" version="4.1.2" targetFramework="net462" />
  <package id="System.Reactive.Runtime.Remoting" version="4.1.2" targetFramework="net462" />
  <package id="System.Reactive.Windows.Forms" version="4.1.2" targetFramework="net462" />
  <package id="System.Reactive.Windows.Threading" version="4.1.2" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WpfScreenHelper" version="0.4.0" targetFramework="net462" />
</packages>